<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <!--Essa seção armazena informações genéricas, globais para TODA A APLICAÇÃO-->
  <appSettings>
    <remove key="MACHINE_CHAVE" />
    <add key="MACHINE_CHAVE" value="VEIO DO WEB" />
    <add key="PASTA_ORIGEM" value="C:\ORIGEM" />
    <add key="PASTA_DESTINO" value="C:\DESTINO" />
    <add key="DATA" value="12/12/2012" />
  </appSettings>

  <!--Essa seção armazena informações exclusivas para conexões com SGBDS 
  para TODA A APLICAÇÃO-->
  <connectionStrings>
    <!--<remove name="MACHINE_CONEXAO"/>-->
    <add name="MACHINE_CONEXAO" connectionString="CONEXÃO DO WEB.CONFIG"/>
    <add name="WEB_CONEXAO"
         connectionString="Data Source=.\SQLEXPRESS; &#xD;&#xA;                           Initial Catalog=CURSO;&#xD;&#xA;                           Integrated Security=true"

                                                    />
  </connectionStrings>

  <!--Todas as seções que estiverem dentro da seção System.Web são 
  seções EXCLUSIVAS DE PROJETOS WEB-->
  <system.web>
    <!--<trace />-->
    <!--<pages theme="azul"/>-->
    <!--Seção responsável por redirecionar os 
    erros para suas páginas correspondentes-->
    <!--Mode = Habilito ou Desabilito o tratamento 
    de erro customizado-->
    <!--defaultRedirect = Página de erro genérica, 
    todos os erros vão ser redirecionados para ela-->
    <!--redirectMode = Informo se será feita uma
    nova requisição (ResponseRedirect) para a página de erro
        ou se o conteúdo da página de erro será retornado a
        partir da mesma requisição (ResponseRewrite)-->
    <!--<customErrors mode="On"
                  defaultRedirect="~/Erros/Generica.aspx"
                  redirectMode="ResponseRewrite">
      --><!--Página não existe--><!--
      <error statusCode="404"
             redirect="~/Erros/Erro404.aspx"/>

      --><!--Usuário não tem permissão para acessar a página--><!--
      <error statusCode="403"
             redirect="~/Erros/Erro403.aspx"/>

      --><!--Erro de processamento no servidor--><!--
      <error statusCode="500"
             redirect="~/Erros/Erro500.aspx"/>

    </customErrors>-->

    <trace enabled="true" requestLimit="50" />
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

</configuration>