<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <!--Defini o TEMA de TODA a MINHA APLICAÇÃO
        Quando ela for executada as classes
        de estilo do CSS serão aplicadas-->
    <!--<pages theme="Amarelo"/>-->
    
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>