<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <system.web>

    <!--Habilitar o rastreamento para toda a aplicação-->
    <!--PageOutPut defino se as informações do trace 
     aparecerão nas páginas ou no arquivo de Recursos(AXD)-->
    <!--RequestLimit é o total de requisições que serão monitoradas-->
    <!--O Máximo de pedidos que ele monitora é 10.000-->
    <trace enabled="true"
           pageOutput="false"
           requestLimit="10000"/>

    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

</configuration>